spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl_auto: validate 
    show-sql: false 
  logging:
    level:
      root: INFO