spring:
  application:
    name: inventory-system
  profiles:
    active: dev
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SMTP_USERNAME} 
    password: ${SMTP_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
    recipient: ${EMAIL_RECIPIENT}
sms:
  carrier-gateway: ${CARRIER_GATEWAY}
  phone-number: ${PHONE_NUMBER}
server: 
  port: 8080 
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
jwt:
  secret: ${SECRET_KEY}
  expiration: 1d