spring:
  application:
    name: inventory-system
  profiles:
    active: dev
server: 
  port: 8080 
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
jwt:
  secret: ${SECRET_KEY}
  expiration: 1d